body {
    text-align: center;
}
.A1, table{
    border-collapse: collapse;
    border-spacing: 0;
}

.A1 td{
    border: 1px solid;
    padding : 0;
}

td{
    width: 350px;
    height: 50px;
    background-color: lightgreen;
}

td:hover {
    background-color: lightgray;
}

td:active {
    background-color: green;
}


.hallway {
    background-color: #ffffff;
    height: 3em;
}

.classroom {
    background-color: aliceblue;
    width: 8em;
}

.broken{
    background-color: red;
}

.broken:hover{
    background-color: red;
}

.already{
    background-color: black;
    color: white;
}

.already:hover{
    background-color: black;
    color: white;
}