body {
    text-align: center;
}
.A2_B1, .locker table{
    border-collapse: collapse;
    border-spacing: 0;
}

.A2_B1 td{
    border: 1px solid;
    padding : 0;
}

.locker td{
    width: 100px;
    height: 40px;
    background-color: orange;
}

.locker .A{
    background-color : lightgreen;
}

.locker td:hover {
    background-color: gray;
}

.locker .A:hover {
    background-color: lightgray;
}

.locker .broken{
    background-color: red;
}

.locker td:active {
    background-color: yellow;
}

.locker .A:active {
    background-color: green;
}

.locker .broken:hover{
    background-color: red;
}

.hallway {
    background-color: #ffffff;
    height: 3em;
}

.classroom {
    background-color: aliceblue;
    width: 8em;
}

.locker .blank{
    background-color: white;
}